{{^url}}
<div class="container{{^intro}} py-3{{/intro}}" >
    <div class="row">
        <div class="col-sm-12">
            <div class="card text-center">
                <div class="card-block">
                    <div class="embed-responsive embed-responsive-{{ratio}}">
                        <iframe class="embed-responsive-item" title="{{title}}" src="{{url}}" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/url}}